<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <div class="page-header">
    <h1>Calendar</h1>
  </div>

  <div class="row">
    <div class='col-md-6'>
      <caption><h1>Todays Events</h1></caption>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th><%= link_to 'New Event', new_event_path %></th>
            <th>Description</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Username</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= event.title %></td>
              <td><%= event.description %></td>
              <td><%= event.start_time %></td>
              <td><%= event.end_time %></td>
              <td><%= event.user.username %></td>
              <td><%= link_to 'Show', event %></td>
              <td><%= link_to 'Edit', edit_event_path(event) %></td>
              <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class='col-md-6'>
      <div id="calendar"></div>
    </div>
  </div>
</div>
