// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// #calendar {
//   width: 40%;
//   float: left;
// }
// 
// #event_list{
//   width: 60%;
//   float: right;
// }
